<div class="top-section">
  <div>
    <h1><a href="/">picky.</a></h1>
    <h4>fewer decisions, more food.</h4>
    <%= link_to 'Hungry?', user_session_path, class: "btn btn-danger" %>
  </div>
</div>
