
<div class="container">
  <%= render 'form' %>
</div>

<footer class="page-footer red lighten-1">
<div class="footer-copyright">
      <div class="container">
      Made by Mike Pitre, 2015.
      </div>
    </div>
  </footer>
