// @import 'bootstrap-sprockets';
// @import 'bootstrap';
@import 'materialize';
//You need to now manually import every other scss file.
@import 'welcome';
@import 'selections';

* {
  font-family: 'Magra', sans-serif;
}

/* icon prefix focus color */
.input-field .prefix.active {
 color: #ef5350;
}

/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #ef5350;
 box-shadow: 0 1px 0 0 #ef5350;
}

.log-in-heading {
  margin: 50px;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

a {
  color: #ef5350;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ef5350;
    box-shadow: 0 1px 0 0 ;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #ef5350;
}

.error-messages-container {
  margin-bottom: 40px;
  margin-top: -20px;
}

.error-messages {
  border: none;
  list-style-position: outside;
  margin-left: 1em;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  padding: 10px 2rem;
  text-decoration: none;
  color: #fff;
  background-color: #ef5350;
  text-align: center;
  letter-spacing: .5px;
  text-transform: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease-out;
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
}

input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #ef5350;
  box-shadow: 0 1px 0 0 #ef5350;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #ef5350;
  box-shadow: 0 1px 0 0 #ef5350;
}

input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #ef5350;
  box-shadow: 0 1px 0 0 #ef5350;
}

.github-link {
  color: #F4D8D7;
}

