[type="checkbox"]:checked + label:before {
  border-right: 2px solid #ef5350;
  border-bottom: 2px solid #ef5350;
}

.btn, .btn-large {
  @extend .red, .lighten-1;
  &:hover {
    @extend .red, .lighten-4;
  }
}

.btn, .btn-large {
  margin-top: 25px;
}

h5 {
  padding: 20px 0;
}

.pick-show-page {
  margin-top: 20px;
}

iframe {
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.get-pick-btn {
  margin-bottom: 40px;
}

.our-pick-header {
  h3 {
  margin-top: 5px;
  color: #ef5350;
  }
  h5 {
    padding-bottom: 5px;
  }
}

i {
  padding-right: 10px;
}

.margin-right-34 {
  display: inline;
  padding-left: 34px;
}




