// * {
//   border: solid 1px black;
// }
.welcome{
* {
  box-sizing: border-box;
}

.banner {
  background-image: url('https://download.unsplash.com/photo-1428660386617-8d277e7deaf2');
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 345px;
  margin-top: 50px;
  h4 {
  color: white;
  margin-bottom: 350px;
  padding-top: 50px;
  margin-top: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }

}

.navbar {
  background: white;
  margin-bottom: 0;
}

.navbar-header {
    float: none;
    text-align: center;
    width: 100%;
}

.navbar-brand {
  font-size: 2em;
  float: none;
  position: absolute;
}

.navbar-default .navbar-brand {
  color: red;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: red;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: red;
}

.navbar-default .navbar-toggle:hover {
  background: #eee;
}

// remove on larger screens
.navbar-toggle {
  margin-right: 0;
}

.tag-line {
  margin-top: 0;
  padding-top: 40px;
  color: white;
}

.below-banner {
  height: 170px;
}

.explanation {
  text-align: center;
  padding-top: 60px;
}

.how-to {
  height: 750px;
  background: #F8F8F8;
  h3 {
    color: #99A4AE;
    text-align: center;
    padding-top: 70px;
  }
}



}














